<%- include('partials/header.ejs'); %>

    <body>
        <%- include('partials/navbar.ejs'); %>
            <h1>Questions and awnsers test</h1>
    </body>
    <%- include('partials/footer.ejs'); %>