<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container">
        <div class="card" id="question-form">
            <div class="card-header">
                <h3>Make a question :)</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    <label>Title</label>
                    <input type="text" placeholder="Title" class="form-control">
                    <br><label>Question</label>
                    <textarea placeholder="Ask your question here" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Ask question!</button>
                </form>
            </div>
        </div>
</body>

<%- include('partials/footer.ejs'); %>