body { 
    background-color:#c1edef;
}

#question-form { 
    margin-top: 5vh;
}

#btn-question { 
    position: relative;
    width: 280px;
}

#card-body { 
    border: solid 1px lightslategrey;
    border-radius: 8px;
    background-color:#ade7ea;
}